 @import url('https://fonts.googleapis.com/css?family=Tangerine');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.tab {
    margin-left: 40px;
}

.container {
    /*display: grid;
    grid-template-columns: 1fr;
    background: url("./images/purple.jpg");*/
    background-color: rgba(0, 0, 0, 0.2);
    height: 120vh;
}

.homePageBackground {
    background: url("../images/cesar-couto-pC2xOplxsVs-unsplash.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 120vh;
}

.cage {
    padding: 45px;
    color: white;
    font-family: 'Londrina Solid', cursive;
}

.cage img {
    height: 375px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.cage h1 {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-weight: 600;
    font-size: 35px;
}

.cage h3 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 5px;
    font-weight: 400;
}

.cage p {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.brand {
    font-family: 'Ink Free';
    color: white;
    background-color: blue;
    font-size: 10px;
    padding: 3px;

}


/*.right-side {

}*/

.sidebar {
    font-family: 'Ink Free';
    padding: 0px;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: url(".images/");
    transition: all .5s ease;
}

.sidebar header {
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 35px;
    background: #063146;
    user-select: none;
    padding: 20px;
}



.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 25px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.4);
    border-bottom: 1px solid black;
    transition: .4s;
}

.sidebar p {
    text-align: center;
    color: white;
}


ul li:hover a{
    padding-left: 50px;
    color: red;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check {
    display: none;
}

/*
    Very important note to take here. #btn is referring to the stack corner
    sidebar icon while the #cancel is referring to the "x" button on the top left
    corner.
*/

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 34px;
    font-size: 20px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
    position: fixed;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn {
    left: 195px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 205px;
}

/*
    This "section" toggles the section background from either being in a
    static position or being pushed back when the user selects the stack
    sidebar button.
*/

#check:checked ~ section {
    /*margin-left: 250px;*/
    margin-left: 0px;
}

/*section {
    background: url("./images/ana-abad-FdpZjh2yvp0-unsplash.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}*/

/*.mainPageImage {
    background-color: rgba(0, 0, 0, 0.4);
}*/

.mainPageImage img {
    padding-top: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.mainPageImage h1 {
    color: white;
    font-family: 'Courier New';
    padding: 40px;
    display: flex;
    justify-content: center;
}

.brief {
    /*background-color: mediumpurple;*/
    /*background-color: rgba(0, 0, 0, 0.4);*/
    text-align: center;
    padding-top: 30px;
    color: white;
}

.brief h1 {
    padding: 15px;
}

.brief p {
    padding-left: 300px;
    padding-right: 300px;
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: normal;
}


.brand-rights {
    background: #063146;
    /*background-color: rgba(0,43,32,.8);*/
    display: flex;
    justify-content: center;
}

.brand-rights small {
    color: white;
    text-align: center;
    padding: 30px;
}

main {
    float: left;
    width: 70%;
    /*font-family: 'Permanent Marker', cursive;*/
}

main p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: white;
}

aside {
    float: right;
    width: 25%;
    color: white;
}

aside ul {
    padding: 0px 20px 0px 20px;
}

aside ul li {
    font-size: 1.1rem;
    line-height: 1.6rem;
    list-style: none;
    padding: 3px 0px 3px 0px;
}

aside p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: 0px 20px 0px 20px;
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

footer p {
    padding: 10px;
}

footer a {
    padding: 0px 10px 0px 10px;
}

/* Media Queries */
@media (max-width: 8.5in) {
    article { grid-template-columns: 1fr 5% [start] 90% [end] 5% 1fr; }
}

@media (max-width: 700px) {
    main {
        float: none;
        width: 100%
    }
}

@media (max-device-width: 900px) {

    .mainPageImage img {
        height: 125px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .mainPageImage h1 {
        font-size: 15px;
        text-align: center;
    }

    .brief {
        margin: 0px;
        padding: 0px;
        padding-top: 75px;
    }

        .brief h1 {
            font-size: 15px;
            color: white;
            margin-left: 0px;
        }

        .brief p {
            padding-left: 0px;
            padding-right: 0px;
            font-size: 10px;
            padding-bottom: 0px;
            font-weight: normal;
            color: white;
        }

    .brand-rights small {
        font-size: 10px;
        margin-left: 0px;
        color: white;
    }

    /*.sidebar p {
        font-size: 10px;
        color: black;
    }*/

    .sidebar {
        font-family: 'Ink Free';
        padding: 0px;
        position: fixed;
        left: -250px;
        width: 250px;
        height: 100%;
        background: #063146;
        transition: all .5s ease;
    }

        .sidebar header {
            font-size: 15px;
            color: white;
            text-align: center;
            line-height: 15px;
            background: #063146;
            user-select: none;
            padding: 20px;
        }

        .sidebar ul a {
            display: block;
            height: 100%;
            width: 100%;
            line-height: 45px;
            font-size: 25px;
            color: white;
            padding-left: 40px;
            box-sizing: border-box;
            border-top: 1px solid rgba(255,255,255,.4);
            border-bottom: 1px solid black;
            transition: .4s;
        }

        .sidebar p {
            text-align: center;
            color: white;
        }


    ul li:hover a {
        padding-left: 50px;
        color: red;
    }

    .sidebar ul a i {
        margin-right: 16px;
    }

    #check {
        display: none;
    }

    /*
    Very important note to take here. #btn is referring to the stack corner
    sidebar icon while the #cancel is referring to the "x" button on the top left
    corner.
*/

    label #btn, label #cancel {
        position: absolute;
        cursor: pointer;
        background: #042331;
        border-radius: 3px;
    }

    label #btn {
        left: 40px;
        top: 25px;
        font-size: 35px;
        color: white;
        padding: 6px 12px;
        transition: all .5s;
    }

    label #cancel {
        z-index: 1111;
        left: -195px;
        top: 27px;
        font-size: 30px;
        color: #0a5275;
        padding: 4px 9px;
        transition: all .5s ease;
    }

    #check:checked ~ .sidebar {
        left: 0;
    }

    #check:checked ~ label #btn {
        left: 195px;
        opacity: 0;
        pointer-events: none;
    }

    #check:checked ~ label #cancel {
        left: 205px;
    }

    /*
    This "section" toggles the section background from either being in a
    static position or being pushed back when the user selects the stack
    sidebar button.
*/

    #check:checked ~ section {
        /*margin-left: 250px;*/
        margin-left: 0px;
    }

    /*section {
    background: url("./images/ana-abad-FdpZjh2yvp0-unsplash.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    }*/
}